.jumbotron-bg {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%) , url("../img/banner.jpg");
    background-size: cover;
    min-height: 500px;    
  }

p {
    font-family: "Roboto", sans-serif;
  }